@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap");

/* Common */
.first-letter {
    font-size: 48px;
}




.home-landing-img {
    width: 100%;
    height: 93vh;
    background-image: url("https://gmritchapter.acm.org/public/img/special/acm_team1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.mask {
    height: 93vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 2;
    opacity: 0.4;
    color: #fff;
}

.landing-text {
    position: absolute;
    top: 20%;
    left: 7%;
    color: #fff;
    z-index: 3;
}

.landing-text h1 {
    font-family: "Source Serif 4", sans-serif;
    font-size: 70px;
    font-weight: 400;
    line-height: 84px;
    color: #fff;
}

@media (max-width: 768px) {
    .landing-text {
        top: 15%;
        left: 5%;
    }
    .landing-text h1 {
        font-size: 35px;
        line-height: 50px;
    }
}


/* Services Section */
#services {
    height: 93vh;
}

#services .container {
    height: 100%;
}

#services .container .row {
    height: 100%;
}

@media(max-width: 768px) {
    #services {
        height: auto;
    }
}

/* About us Section */
#about-us {
    height: 93vh;
    background-color: #333;
}

#about-us .container {
    height: 100%;
}

#about-us .container .row{
    height: 100%;
}

#contact-img {
    width: 100%;
    height: auto;
}

@media(max-width: 768px) {
    #about-us {
        height: auto;
    }
}

/* Test Section */
#test {
    height: 93vh;
}

#test .container {
    height: 100%;
}

#test .container .row {
    height: 100%;
}

@media (max-width: 768px) {
    #test {
        height: auto;
    }
}